---
layout: default
title: About Us
---
<div class="about-banner">
    <h1>About Us</h1>
    <p>Meet the founders of Backyard Barns: Amelia and Violet.</p>
    <img src="/backyard-barns/assets/images/IMG_1227.jpeg" alt="Amelia and Violet" class="placeholder">
</div>

<div class="section">
    <h2>Our Story</h2>
    <p>Amelia and Violet, friends and hobby horse enthusiasts, started Backyard Barns to share their love for the sport. They organize events, competitions, and summer camps for hobby horse riders of all ages. You will often see Violet riding on one of her 12 hobby horses, and Amelia on one of her two hobby horses. They enjoy jumping and trail riding as much as barrel racing and playing around.</p>
    <img src="/assets/images/our-story.jpg" alt="Amelia and Violet" class="placeholder">
</div>
