---
layout: default
title: Home
---
<div class="home-banner">
    <h1>Welcome to Backyard Barns</h1>
    <p>Your ultimate destination for all things Hobby Horsing!</p>
    <img src="/assets/images/hobby-horse-full-barn.webp" alt="Hobby Horsing" class="placeholder">
</div>

<div class="section">
    <h2>What is Hobby Horsing?</h2>
    <p>Hobby horsing is a sport in which participants ride and perform with hobby horses, which are toy horses attached to a stick. It's a fun and imaginative way to engage in equestrian activities, with competitions and events held worldwide.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ICfQ6o7lAeo?si=osd5YLa9oG73RFPp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
